<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IC Games - Home</title>

    <link rel="stylesheet" href="../static/css/home.css">

    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="home-background"></div>

    <main class="home-page">
        <header class="home-page__header">
            <h1 class="home-page__title">IC Games</h1>
            <p class="home-page__subtitle">Selecciona un modulo desde el panel principal</p>
        </header>

        <section class="home-grid">
            <a href="{{ url_for('joc1') }}" class="home-card-link">
                <article class="home-card">
                    <div class="home-card__content">
                        <h2 class="home-card__title">Joc 1</h2>
                        <p class="home-card__text">Escriure el resultat correcte.</p>
                    </div>
                </article>
            </a>

            <a href="{{ url_for('joc2') }}" style="text-decoration: none; color: inherit;">
                <article class="home-card">
                    <div class="home-card__content">
                        <h2 class="home-card__title">Joc 2</h2>
                        <p class="home-card__text">Chimpa Memory Test</p>
                    </div>
                </article>
            </a>

            <a href="{{ url_for('joc3') }}" class="home-card-link">
                <article class="home-card">
                    <div class="home-card__content">
                        <h2 class="home-card__title">Joc 3</h2>
                        <p class="home-card__text">Fes clic en l'ordre concret.</p>
                    </div>
                </article>
            </a>
        </section>
    </main>

</body>

</html>
